body {
    margin: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(120deg, #007bff, #d0314c);
    height: 100vh;
    overflow: auto;
}

.container {
    max-height: 100vh;
    overflow-y: auto; /* Added overflow-y for vertical scrollbar */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #333;
    text-align: center; /* Center text */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.case-info {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between;
    margin-top: 20px;
}

.forensic-info, .crime-info {
    width: 48%;
}

.evidence-processing,
.inferences,
.victim-info,
.suspect-info,
.evidences-collected,
.lab-details,
.tech-details {
    margin-bottom: 20px;
}

p {
    margin-bottom: 5px;
}

span {
    font-weight: bold;
    color: #007bff;
}

@media (max-width: 600px) {
    /* Add styles for smaller screens */
    .container {
      width: 50%;
    }
  }
  